<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>Label</key>
    <string>com.signage.start</string>

    <!-- 毎日 08:00 に起動 -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/digital-signage/main5.py</string>
    </array>

    <key>UserName</key>
    <string>root</string>

    <key>StandardOutPath</key>
    <string>/var/log/signage_start.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/signage_start_error.log</string>

</dict>
</plist>
